{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="ui grid stackable">
    <div class="eleven wide column">
        <div class="ui segment">
            <div class="content">
                <div class="header"><h3>パスワード変更</h3></div>
                <form class="ui form" method="POST" action="">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="ui orange button">変更する</button>
                </form>
            </div>
        </div>
        <a href="{% url 'ptop:home' %}">戻る</a>
    </div>
</div>
{% endblock %}