<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>記事をサジェスト表示する</title>
    <style>
        * {
            margin: 0;
        }

        body {
            width: 960px;
            margin: 50px auto;
        }

        div.field {
            margin-bottom: 20px;
        }

        div.field > label {
            display: block;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>