{% extends 'base.html' %}

{% block header %}

{% load static %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{% load bootstrap4 %}{% bootstrap_css %}{% bootstrap_javascript jquery='full' %}

<style>
.input-inline { display: inline-block; width: 150px; }
.helptext {font-size: small;}
.required {color: red;}
</style>

{% endblock header %}

{% block content %}
<div class="container">
  <div class="card">

    {% if 'update' in request.path %}
    <h5 class="card-header">お知らせの編集</h5>
    {% else %}
    <h5 class="card-header">お知らせの作成</h5>
    {% endif %}

    <div class="card-body">
      <form action="" method="POST">
        {% csrf_token %}
        <table border>
        {% for field in form %}
        {% spaceless %}
        <tr><th>{% if field.field.required %}<span class="required">*</span>{% endif %}{{ field.label_tag }}</th><td>{{ field }}
          {% if field.help_text %}
            <span class="helptext">{{ field.help_text|safe }}</span>
          {% endif %}
        </td></tr>
        {% endspaceless %}
        {% endfor %}
        </table>

        {% if 'update' in request.path %}
        <input class="btn btn-primary" type="submit" value="入力した内容で更新する">
        {% else %}
        <input class="btn btn-primary" type="submit" value="お知らせを作成する">
        {% endif %}
      </form>
      
    </div>
  </div>
  <a href="{% url 'ptop:home' %}" class="btn btn-secondary">戻る</a>

</div>

<script src="{% static 'ptop/js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'ptop/js/bootstrap.min.js' %}"></script>

{{form.media}}

{% endblock content %}

{% block javascript %}
{% endblock javascript %}
