{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="container">
  <div class="card">
    <h5 class="card-header">{{object.title}}</h5>
    <div class="card-body">
      <table border>
        <tr><td>題名</td><td>{{object.title}}</td></tr>
        <tr><td>内容</td><td>{{object.description|linebreaksbr}}</td></tr>
        <tr><td>作成日</td><td>{{object.posted_time|date:'Y/n/j G:i'}}</td></tr>
        <tr><td>作成者</td><td>{{object.user}}</td></tr>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 text-left">
      <a href="#" onclick="window.history.back(); return false;" class="btn btn-secondary">戻る</a>
    </div>
  <div class="col-sm-4 text-center">
  </div>
  <div class="col-sm-4 text-right">
    {% if object.user == request.user %}
    <a href="{% url 'ptop:announcement_update' object.id %}" class="btn btn-primary">編集</a>
    {% endif %}
  </div>
</div>
{% endblock content %}
