{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}

  <div class="container">
    <h4>お知らせ一覧</h4>


    <table border>
      <tr><th>作成日</th><th>題名</th><th>作成者</th></tr>
      {% for item in object_list %}
      <tr>
        <td>{{item.posted_time|date:'Y/n/j'}}</td>
        <td><a href="{% url 'ptop:announcement_detail' item.pk %}">{{ item.title|truncatechars:30 }}</a></td>
        <td>{{item.user}}</td>
        
       </tr>
    {% endfor %}
    </table>
    
    <div class="mt-3">
      {% include 'pagination.html' %}
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 text-left">
          <a href="{% url 'ptop:home' %}" class="btn btn-secondary">戻る</a>
        </div>
        <div class="col-sm-6 text-right">
          <a href="{% url 'ptop:announcement_create' %}" class="btn btn-primary">お知らせ作成</a>
        </div>
      </div>
    </div>

  </div>

{% endblock content %}
