<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% if object %}{{object.title}} - {% endif %}{{request.site.sitedetail.title}}</title>

    {% load static %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block extrahead %}
{# JQUERY FILE UPLOAD SCRIPTS #}
<script src="{% static 'ptop/js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'ptop/js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'ptop/js/jquery-file-upload/jquery.fileupload.js' %}"></script>

{# PHOTOS PAGE SCRIPTS #}
<script src="{% static 'ptop/js/basic-upload.js' %}"></script>

{{form.media}}

{% endblock %}

    <link rel="apple-touch-icon" type="image/png" href="{% static 'ptop/icon/apple-touch-icon-180x180.png' %}">
    <link rel="icon" type="image/png" href="{% static 'ptop/icon/icon-192x192.png' %}">
    
    <style>
      .navbar-toggler-icon {font-size: 0.8em;}
      .navbar-toggler{padding: 2px;}
      .navbar{min-height: 12px;}
      body{padding-top: 32px;}
      .nav-link{padding: 2px;}
      .nav-link:hover{background-color:azure;}
      .container{padding-bottom: 8px;}
      .bg-event {background-color: #fff0f0;}
      .bg-group {background-color: #ffffe0;}
      .delaytime {color: red;}

    </style>
    
  </head>

  <body>
  <!-- ナビゲーションバー -->    
    <nav class="navbar navbar-light fixed-top py-0" style="background-color: cyan;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <ul class="navbar-nav mr-auto">
        <li><a class="nav-item" href="{% url 'ptop:home' %}"><img src="{% static 'ptop/logo.png' %}" height=32 alt="PT-DOM" /></a></li>
      </ul>

      <ul class="navbar-nav justify-content-center mr-auto ml-auto">
        <li class="nav-item">
          <a href="{% url 'ptop:operation_list' %}">運転状況</a>: {{ current_operation.operation_type.name }} ({{current_operation.start_time|date:'Y-m-d G:i'}}-) <a href="{% url 'ptop:change_operation_generalized' %}" class="btn btn-primary btn-sm">変更</a>
        </li>
      </ul>

 
      {% if user.is_authenticated %}
        <button type="button" id="dropdownMenuButton"
          class="nav-item btn btn-secondary dropdown-toggle btn-sm justify-content-end ml-auto"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          {{ user }}
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="z-index:9999">
          <a class="dropdown-item" href="{% url 'password_change' %}">パスワード変更</a>
          <a class="dropdown-item" href="{% url 'logout' %}">ログアウト</a>
          {% if user.is_superuser %}
          <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
          {% endif %}
        </div>
      {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary btn-sm justify-content-end ml-auto">ログイン</a>
      {% endif %}

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ptop:home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ptop:eventlist' %}">トラブル事象一覧</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ptop:event_advanced_search' %}">トラブル事象の詳細検索</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ptop:group_list' %}">トラブル類型一覧</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ptop:advanced_search' %}">トラブル類型の詳細検索</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ptop:reminder_list' %}?status=期限前&status=発動中&status=処理済">リマインダー一覧</a>
          </li>
        </ul>
        <div class="dropdown-divider"></div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ptop:create_event' %}">トラブル事象を新規作成</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ptop:unapproved_event_list' %}">未承認イベントの分類</a>
          </li>
        </ul>
        <div class="dropdown-divider"></div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ptop:operation_list' %}">オペレーション一覧</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ptop:change_operation' %}">オペレーションの切り替え</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ptop:create_operation' %}">過去のオペレーションの入力</a>
          </li>
        </ul>
        <div class="dropdown-divider"></div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ptop:supply_item_list' %}?supplytype={{type.id}}&status=未納品&status=使用前&status=使用中&status=使用済">消耗品一覧</a>
          </li>
        </ul>
        <div class="dropdown-divider"></div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ptop:announcement_list' %}">お知らせ</a>
          </li>
        </ul>
        <div class="dropdown-divider"></div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ptop:statistics_create' %}">運転統計</a>
          </li>
        </ul>
      </div>

    
    </nav>

  {% block header %}
  {% endblock header %}

  {% block content %}
  {% endblock content %}

 
  {% block javascript%}

  {% endblock javascript%}
  
  </body>
</html>