{% extends 'base.html' %}

{% block header %}

{% load static %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{% load bootstrap4 %}{% bootstrap_css %}{% bootstrap_javascript jquery='full' %}

<style>
  .input-inline { display: inline-block; width: 150px; }
  .helptext {font-size: small;}
  .required {color: red;}
</style>
    
{% endblock header %}

{% block content %}


<div class="container">
  <h2>オペレーション切り替え</h2>
</div>
<div class="container">
  <div class="row">
    <div class="card">
      <form action="{% url 'ptop:change_operation_execute' %}" method="POST">
        <h5 class="card-header">現在の切替前オペレーション</h5>
        <div class="card-body">
          <table border>
            <tr><td>オペレーションの種類</td><td>{{current_operation.operation_type}}</td></tr>
            <tr><td>開始日時</td><td>{{current_operation.start_time|date:"Y-m-d(D) H:i"}}</td></tr>
          </table>
        </div>

        <h5 class="card-header">切替前オペレーションの実績</h5>
        <div class="card-body">
          <table border>
            {% spaceless %}
            {% if treat_flag %}
            <tr><th>{% if change_form.num_treat_hc1.field.required %}<span class="required">*</span>{% endif %}{{ change_form.num_treat_hc1.label_tag }}</th><td>{{ change_form.num_treat_hc1 }}
              {% if change_form.num_treat_hc1.help_text %}
                <span class="helptext">{{ change_form.num_treat_hc1.help_text|safe }}</span>
              {% endif %}
              {{ change_form.num_treat_hc1.error }}
            </td></tr>
            <tr><th>{% if change_form.num_treat_gc2.field.required %}<span class="required">*</span>{% endif %}{{ change_form.num_treat_gc2.label_tag }}</th><td>{{ change_form.num_treat_gc2 }}
              {% if change_form.num_treat_gc2.help_text %}
                <span class="helptext">{{ change_form.num_treat_gc2.help_text|safe }}</span>
              {% endif %}
              {{ change_form.num_treat_gc2.error }}
            </td></tr>
            {% else %}

            {% endif %}
            {% if pqa_flag %}
            <tr><th>{% if change_form.num_qa_hc1.field.required %}<span class="required">*</span>{% endif %}{{ change_form.num_qa_hc1.label_tag }}</th><td>{{ change_form.num_qa_hc1 }}
              {% if change_form.num_qa_hc1.help_text %}
                <span class="helptext">{{ change_form.num_qa_hc1.help_text|safe }}</span>
              {% endif %}
              {{ change_form.num_qa_hc1.error }}
            </td></tr>
            <tr><th>{% if change_form.num_qa_gc2.field.required %}<span class="required">*</span>{% endif %}{{ change_form.num_qa_gc2.label_tag }}</th><td>{{ change_form.num_qa_gc2 }}
              {% if change_form.num_qa_gc2.help_text %}
                <span class="helptext">{{ change_form.num_qa_gc2.help_text|safe }}</span>
              {% endif %}
              {{ change_form.num_qa_gc2.error }}
            </td></tr>
            {% endif %}
            {% endspaceless %}
            <tr><th>{% if change_form.comment.field.required %}<span class="required">*</span>{% endif %}{{ change_form.comment.label_tag }}</th><td>{{ change_form.comment }}
              {% if change_form.comment.help_text %}
                <span class="helptext">{{ change_form.comment.help_text|safe }}</span>
              {% endif %}
              {{ change_form.comment.error }}
            </td></tr>
            </table>
        </div>

        <h5 class="card-header">オペレーション切り替え</h5>
        <div class="card-body">
            {% csrf_token %}
            <table border>
              {% spaceless %}
              <tr><th>{% if change_form.operation_type.field.required %}<span class="required">*</span>{% endif %}{{ change_form.operation_type.label_tag }}</th><td>{{ change_form.operation_type }}
                {% if change_form.operation_type.help_text %}
                  <span class="helptext">{{ change_form.operation_type.help_text|safe }}</span>
                {% endif %}
                {{ change_form.operation_type.error }}
              </td></tr>
              <tr><th>{% if change_form.change_time.field.required %}<span class="required">*</span>{% endif %}{{ change_form.change_time.label_tag }}</th><td>{{ change_form.change_time }}
                {% if change_form.change_time.help_text %}
                  <span class="helptext">{{ change_form.change_time.help_text|safe }}</span>
                {% endif %}
                {{ change_form.change_time.error }}
              </td></tr>
              {% endspaceless %}
              </table>
                <input type="submit" value="切り替え実行" class="btn btn-primary">
            <a href="{% url 'ptop:home' %}" class="btn btn-secondary">戻る</a>
        </div>
      </form>

    </div>
  </div>


</div>

{{ change_form.media }}

{% endblock content %}

{% block javascript %}


{% endblock javascript %}
