{% extends 'base.html' %}

{% block header %}

{% load static %}
{% load bootstrap4 %}{% bootstrap_css %}

<style>
table {background-color:#fffff0}
.input-inline { display: inline-block; width: 150px; }
.helptext {font-size: small;}
.required {color: red;}
li {display: inline-block; margin-right: 1em}
ul.operator_checkbox{list-style-type: none; padding-left: 0;}
</style>

{% endblock header %}

{% block content %}
<div class="container">
  <div class="card">
    {% if 'update' in request.path %}
    <h5 class="card-header">トラブル類型編集</h5>
    {% else %}
    <h5 class="card-header">新規トラブル類型入力</h5>
    {% endif %}

    <div class="card-body">
      <form action="" method="POST">
        {% csrf_token %}
        <table border>
          {% for field in form %}
          {% spaceless %}
          <tr><th>{% if field.field.required %}<span class="required">*</span>{% endif %}{{ field.label_tag }}</th><td>{{ field }}
            {% if "device" in field.id_for_label %}
              <a href="javascript:void(0);" onclick="window.open('{% url 'ptop:popup_device_create' %}', 'subwin','width=500,height=500');" class="btn btn-info btn-sm">追加</a>
            {% elif "error" in field.id_for_label %}
              <a href="javascript:void(0);" onclick="window.open('{% url 'ptop:popup_error_create' %}', 'subwin','width=500,height=500');" class="btn btn-info btn-sm">追加</a>
            {% elif "attachments" in field.id_for_label %}
              <button type="button" class="btn btn-info js-upload-photos">
              <span class="glyphicon glyphicon-cloud-upload"></span> 添付ファイルのアップロード
              </button>
              <ul id='id_list_attachment'>
              {% if attachments.all  %}
                {% for attachment in attachments.all %}
                  <li><input type="checkbox" name="attachment_check" value="{{attachment.id}}" checked="checked">{{attachment.title}}</li>
                {% endfor %}
              {% endif %}
              </ul>
            {% endif %}
            {% if field.help_text %}
              <span class="helptext">{{ field.help_text|safe }}</span>
            {% endif %}
          </td></tr>
          {% endspaceless %}
          {% endfor %}
        </table>
  
        <div>
          <input id="fileupload" type="file" name="file" multiple
          style="display: none;"
          data-url="{{ request.build_absolute_url }}"
          data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
        </div>
    
      
    </div>      
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-left">
        <a href="#" onclick="window.history.back(); return false;" class="btn btn-secondary">戻る</a>
      </div>
      <div class="col-sm-4 text-center">
      </div>
      <div class="col-sm-4 text-right">
        {% if 'update' in request.path %}
        <input class="btn btn-primary" type="submit" value="入力した内容で更新する">
        {% else %}
        <input class="btn btn-primary" type="submit" value="トラブル類型を作成する">
        {% endif %}
      </div>
    </div>
  </div>
  </form>

</div>

<script src="{% static 'ptop/js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'ptop/js/bootstrap.min.js' %}"></script>
{# JQUERY FILE UPLOAD SCRIPTS #}
<script src="{% static 'ptop/js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'ptop/js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'ptop/js/jquery-file-upload/jquery.fileupload.js' %}"></script>

{# PHOTOS PAGE SCRIPTS #}
<script src="{% static 'ptop/js/basic-upload.js' %}"></script>

{{form.media}}

{% endblock content %}

{% block javascript %}
<script>
    /*
    On focus out on input nickname,
    call AJAX get request to check if the nickName
    already exists or not.
    */
    function formatDate(dt) {
      var y = dt.getFullYear();
      var m = ('00' + (dt.getMonth()+1)).slice(-2);
      var d = ('00' + dt.getDate()).slice(-2);
      var h = ('00' + dt.getHours()).slice(-2);
      var min = ('00' + dt.getMinutes()).slice(-2);
      return (y + '-' + m + '-' + d + ' ' + h + ':' + min);
    }

    $(function () {
//      $(".js-upload-photos").click(function () {
//        $("#fileupload").click();
//      });
      $("#fileupload").fileupload({
        dataType: 'json',
        autoUpload: true,
        done: function (e, data) {  /* 3. PROCESS THE RESPONSE FROM THE SERVER */
          console.log("done")
          if (data.result.is_valid) {
  //          var list = $("#id_attachments").val();
  //          list.push(data.result.pk);
            console.log(data.result.pk)
            $option = $('<option>')
              .val(data.result.pk)
              .text(data.result.title)
              .prop('selected', true);
            $("#id_attachments").append($option);
            $("#id_list_attachment").append('<li><input type="checkbox" name="attachment_check" value="'+data.result.pk+'" checked="checked">'+data.result.title+"</li>");
  //          $("#id_attachments").val(list);
          }
        },
        fail: function(e, data) {
          alert('Fail!');
        }
      });
    });

    $(document).on('change', '[name="attachment_check"]', function(){
        if ($(this).prop('checked')){
          $('option[value='+$(this).val()+']').prop('selected', true);
        } else {
          $('option[value='+$(this).val()+']').prop('selected', false);
        }
    });

    function add_device(name, pk){
        var select = document.getElementById('id_device');
        // <option value="pk">選択肢名</option> をつくる
        var option = document.createElement('option');
        option.setAttribute('value', pk);
        option.innerHTML = name;

        // カテゴリの先頭に追加し、選択済みにする
        select.add(option,0);
        select.options[0].selected= true;
    }

    function add_error(name, pk){
        var select = document.getElementById('id_errors');
        // <option value="pk">選択肢名</option> をつくる
        var option = document.createElement('option');
        option.setAttribute('value', pk);
        option.innerHTML = name;

        // カテゴリの先頭に追加し、選択済みにする
        select.add(option,0);
        select.options[0].selected= true;
    }

</script>
{% endblock javascript %}
