{% extends 'base.html' %}

{% block header %}
<style>
table {background-color:#fff0f0}
</style>
{% endblock header %}

{% block content %}


<div class="container">
    <div class="card">
      <h5 class="card-header">{{object.title}}</h5>
      <div class="card-body">
      {% if not object.approval_operator %}
        <div class="row"  style="color:red; background-color: yellow; margin-bottom: 1em;">
          物理未承認のトラブル事象です。
        </div>
      {% endif %}
    
      <table border>
      <tr><td>事象ID</td><td>{{object.id}}</td></tr>
      <tr><td>トラブル類型</td><td>{% if object.group %}<a href="{%url 'ptop:group_detail' object.group.pk%}">{{object.group.title}}</a> <a href="{%url 'ptop:event_classify' object.pk%}" class="btn btn-info btn-sm">割当変更</a>{% else %}<a href="{%url 'ptop:event_classify' object.pk%}">未選択</a>{% endif %}</td></tr>
      <tr><td>デバイスID</td><td>{{object.device.device_id}}({{object.device.name}})</td></tr>
      <tr><td>{{request.site.sitedetail.irr_num_name}}</td><td>{{object.irradiation_number | default:'なし'}}</td></tr>
      <tr><td>{{request.site.sitedetail.eid_name}}</td><td>{{object.energy_id | default:'なし'}}</td></tr>
      <tr><td>{{request.site.sitedetail.iid_name}}</td><td>{{object.intensity_id | default:'なし'}}</td></tr>
      <tr><td>事象</td><td>{{object.description | linebreaksbr }}</td></tr>
      <tr><td>エラーメッセージ</td><td>{% for error in object.errors.all %}
{{ error.error_code }}{% if forloop.last %}{% else %},{% endif %}
{% endfor %}</td></tr>
      <tr><td>発生直前の操作</td><td>{{object.trigger | linebreaksbr }}</td></tr>
      <tr><td>原因</td><td>{{object.cause | linebreaksbr }}</td></tr>
      <tr><td>応急処置内容</td><td>{{object.temporary_action | linebreaksbr }}</td></tr>
      <tr><td>発生時刻</td><td>{{object.start_time|date:"Y/m/d(D) H:i"}}</td></tr>
      <tr><td>運転再開時刻</td><td>{{object.end_time|date:"Y/m/d(D) H:i"}}</td></tr>
      <tr><td>復旧完了時刻</td><td>{{object.complete_time|date:"Y/m/d(D) H:i"}}</td></tr>
      <tr><td>装置故障時間</td><td>{% if object.downtime is not None %}{{object.downtime}} 分{% else %}未復旧{% endif %}</td></tr>
      <tr><td>治療遅延時間</td><td>{% if object.delaytime is not None %}{{object.delaytime}} 分{% else %}未定{% endif %}</td></tr>
      <tr><td>治療可否の状態</td><td>{{object.treatment_status|default_if_none:'未入力'}}</td></tr>
      <tr><td>影響範囲</td><td>{{object.effect_scope|default_if_none:'未入力'}}</td></tr>
      <tr><td>対処緊急度</td><td>{{object.urgency|default_if_none:'未入力'}}</td></tr>
  
      <tr><td>対応者</td><td>{% for operator in object.handling_operators.all %}
    {{ operator }}{% if forloop.last %}{% else %},{% endif %}    
{% endfor %}</td></tr>
      <tr><td>入力者</td><td>{{object.input_operator|default_if_none:'未入力'}}</td></tr>
      <tr><td>承認者</td><td>{{object.approval_operator|default_if_none:'未承認'}}</td></tr>
      <tr><td>報告した物理士</td><td>{{object.reported_physicist|default_if_none:'未報告'}}</td></tr>
      <tr><td>添付ファイル</td><td>{% spaceless %}{% for attachment in object.attachments.all %}
{% if '.png' in attachment.title or '.PNG' in attachment.title or '.jpg' in attachment.title or '.JPG' in attachment.title %}
<a href="{{attachment.file.url}}"><img src="{{attachment.file.url}}" alt="{{attachment.title}}" width="200" /></a>
{% else %}
<a href="{{attachment.file.url}}">{{ attachment.title }}</a>
{% endif %}
{% if forloop.last %}{% else %},{% endif %}
{% endfor %}{% endspaceless %}</td></tr>
        <tr><td>データ作成日時</td><td>{{object.created_on|date:"Y/m/d H:i"}}</td></tr>
        <tr><td>最終更新日時</td><td>{{object.modified_on|date:"Y/m/d H:i"}}</td></tr>

      </table>
    </div>

{% if not object.approval_operator %}
  {% if request.user.is_approvable %}
    <div class="container">
      <div class="row">
            <div class="col-sm-12 text-left"  style="background-color:yellow">
          <div class="row"  style="color:red">
            物理未承認のトラブル事象です。「承認」ボタンを押すと以下の内容で承認します。
          </div>
          <ul>
          <li>装置故障時間: {% if object.downtime is not None %}{{object.downtime}} 分{% else %}未復旧{% endif %}</li>
          <li>治療遅延時間: {% if object.delaytime is not None %}{{object.delaytime}} 分{% else %}未定{% endif %}</li>
          <li>承認者: {{ user }}</li>
          <div class="container">
            <div class="row">
              <div class="col-sm-4 text-left">
              </div>
              <div class="col-sm-4 text-center">
              </div>
              <div class="col-sm-4 text-right">
                <a href="{% url 'ptop:event_approve' object.pk %}" class="btn btn-primary">承認</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}

    <div class="container">
      <div class="row">
        <div class="col-sm-4 text-left">
          <a href="#" onclick="window.history.back(); return false;" class="btn btn-secondary">戻る</a>
        </div>
        <div class="col-sm-4 text-center">
          <a href="{% url 'ptop:lognote_sheet' object.pk %}" class="btn btn-info">ログノート帳票</a>
<!--          <a href="{% url 'ptop:trouble_communication_sheet' object.pk %}" class="btn btn-danger">不具合連絡票発行</a>-->
        </div>
        <div class="col-sm-4 text-right">
          <a href="{% url 'ptop:recurrent_event_create_from_event' object.pk %}" class="btn btn-warning">再発入力</a>
          <a href="{% url 'ptop:update_event' object.pk %}" class="btn btn-primary">編集</a>
        </div>
      </div>
    </div>

  </div>

  {% endblock content %}
