{% extends 'base.html' %}

{% block header %}
<style>
  table, th, td {border: solid 1px;}
</style>
  
{% endblock header %}

{% block content %}
<div class="container">
  <h2>トラブル事象の分類選択</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <h5 class="card-header">対象のトラブル事象</h5>
        <div class="card-body">
          <table>
            <tr><td>題名</td><td><a href="{%url 'ptop:event_detail' event.pk%}">{{event.title}}</a></td></tr>
            <tr><td>事象ID</td><td>{{event.id}} </td></tr>
            <tr><td>トラブル類型</td><td>{% if event.group %}<a href="{%url 'ptop:group_detail' event.group.pk%}">{{event.group.title}}</a>{% else %}<a href="{%url 'ptop:event_classify' event.pk%}">未選択</a>{% endif %}</td></tr>
            <tr><td>デバイスID</td><td>{{event.device.device_id}}({{event.device.name}})</td></tr>
            <tr><td>事象</td><td>{{event.description | linebreaksbr }}</td></tr>
            <tr><td>エラーメッセージ</td><td>{% for error in event.errors.all %}
      {{ error.error_code }}{% if forloop.last %}{% else %},{% endif %}
      {% endfor %}</td></tr>
            <tr><td>発生直前の操作</td><td>{{event.trigger | linebreaksbr }}</td></tr>
            <tr><td>原因</td><td>{{event.cause | linebreaksbr }}</td></tr>
            <tr><td>応急処置内容</td><td>{{event.temporary_action | linebreaksbr }}</td></tr>
            <tr><td>発生時刻</td><td>{{event.start_time|date:"Y/m/d H:i"}}</td></tr>
            <tr><td>復旧時刻</td><td>{{event.end_time|date:"Y/m/d H:i"}}</td></tr>
            <tr><td>装置故障時間</td><td>{{event.downtime}} 分</td></tr>
            <tr><td>治療遅延時間</td><td>{{event.delaytime}} 分</td></tr>
            <tr><td>対応者</td><td>{% for operator in event.handling_operators.all %}
          {{ operator }}{% if forloop.last %}{% else %},{% endif %}    
      {% endfor %}</td></tr>
            <tr><td>入力者</td><td>{{event.input_operator}}</td></tr>
            <tr><td>承認者</td><td>{{event.approval_operator}}</td></tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="container">
        <div class="card">
          <h5 class="card-header">類型検索</h5>
          <div class="card-body">
            <form action="" method="get">
              <input name="query" value="{{ request.GET.query }}" type="text">
              <button type="submit">検索する</button>
            </form>
          </div>
        </div>
        <div class="card">
          <h5 class="card-header">検索結果</h5>
          <div class="card-body">
            {% for item in object_list %}
              <p><a href="?query={{ request.GET.query }}&selected_group={{ item.pk }}">{{item.title}}</a></p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <h5 class="card-header">割当候補のトラブル類型</h5>
      {% if group %}
      <div class="container">
        <div class="card">
          <h5 class="card-header">{{group.title}}</h5>
          <div class="card-body">
            <table border>
              <tr><td>分類ID</td><td>{{group.classify_id}}</td></tr>
              <tr><td>分類経路</td><td>{{group.path}}</td></tr>
              <tr><td>デバイスID</td><td>{{group.device.device_id}}({{group.device.name}})</td></tr>
              <tr><td>事象</td><td>{{group.description | linebreaksbr }}</td></tr>
              <tr><td>エラーメッセージ</td><td>{% for error in group.errors.all %}
      {{ error.error_code }}{% if forloop.last %}{% else %},{% endif %}
      {% endfor %}</td></tr>
              <tr><td>発生の契機となる操作</td><td>{{group.trigger | linebreaksbr }}</td></tr>
              <tr><td>原因</td><td>{{group.cause | linebreaksbr }}</td></tr>
              <tr><td>初発日時</td><td>{{group.first_datetime|date:"Y/m/d H:i"}}</td></tr>
            </table>
      
            <p><a href="{% url 'ptop:event_classify_execute' %}?event_pk={{event.pk}}&group_pk={{group.pk}}" class="btn btn-primary">割り当て実行</a></p>
            <p><a href="{% url 'ptop:child_group_create' group.pk %}" class="btn btn-info">サブグループ作成</a></p>

          </div>
        </div>
      </div>
      {% endif %}
      <p><a href="{% url 'ptop:group_create_from_event' event.pk %}" class="btn btn-info">新規グループを作成</a></p>
      <p><a href="{% url 'ptop:event_classify_execute' %}?event_pk={{event.pk}}&group_pk=None" class="btn btn-warning">未選択に戻す</a></p>
    </div>

  </div>
  <a href="{% url 'ptop:unapproved_event_list' %}" class="btn btn-secondary">戻る</a>

</div>

{% endblock content %}
