{% extends 'base.html' %}

{% block header %}
{% load static %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{% load bootstrap4 %}{% bootstrap_css %}{% bootstrap_javascript jquery='full' %}

<style>
.input-inline { display: inline-block; width: 150px; }
</style>
{% endblock header %}

{% block content %}

  <div class="container">
    <h1>トラブル事象詳細検索</h1>
    <h2>検索条件</h2>
    <form action="" method="get" id='id_form'>
        <div class="field">
            {{ search_form.id.label_tag }}
            {{ search_form.id }}
            {% if search_form.id.help_text %}
                <span class="helptext">{{ search_form.id.help_text }}</span>
            {% endif %}
            {{ search_form.title.label_tag }}
            {{ search_form.title }}
            {% if search_form.title.help_text %}
                <span class="helptext">{{ search_form.title.help_text }}</span>
            {% endif %}
            {{ search_form.description.label_tag }}
            {{ search_form.description }}
            {% if search_form.description.help_text %}
                <span class="helptext">{{ search_form.description.help_text }}</span>
            {% endif %}
            {{ search_form.cause.label_tag }}
            {{ search_form.cause }}
            {% if search_form.cause.help_text %}
                <span class="helptext">{{ search_form.cause.help_text }}</span>
            {% endif %}
        </div>
        <div class="field">
            {{ search_form.device.label_tag }}
            {{ search_form.device }}
            {% if search_form.device.help_text %}
                <span class="helptext">{{ search_form.device.help_text }}</span>
            {% endif %}
            {{ search_form.error.label_tag }}
            {{ search_form.error }}
            {% if search_form.error.help_text %}
                <span class="helptext">{{ search_form.error.help_text }}</span>
            {% endif %}
        </div>
        <div class="field">
            日付
            {{ search_form.date_type.0 }} 指定しない ／
            {{ search_form.date_type.1 }} 現在から{{ search_form.date_delta1 }}日以内 ／
            {{ search_form.date_type.2 }} <div class="input-inline">{{ search_form.date2 }}</div>の前後{{ search_form.date_delta2 }}日 ／
            {{ search_form.date_type.3 }} <div class="input-inline">{{ search_form.date3s }}</div>から<div class="input-inline">{{ search_form.date3e }}</div>まで
        </div>
        <div class="field">
            故障時間
            {{ search_form.downtime_low }}
            分以上
            {{ search_form.downtime_high }}
            分以下
            治療遅延時間
            {{ search_form.delaytime_low }}
            分以上
            {{ search_form.delaytime_high }}
            分以下
        </div>

      <input type="submit" class="btn btn-primary" value="検索">
  </div>

 {{search_form.media}}

  <div class="container">
    <h2>検索結果</h2>
    <div class="row">
      <div class="col-sm-4 text-left">
        該当件数: {{object_list|length}}
      </div>
      <div class="col-sm-8 text-right">
        {{ search_form.sort_by.label_tag }}{{ search_form.sort_by }} {{ search_form.paginate_by.label_tag }}{{ search_form.paginate_by }}
      </div>
    </div>
    <table border>
      <tr><th>ID</th><th>発生日時</th><th class="bg-event">題名</th><th>デバイスID</th><th>故障時間</th><th class="bg-group">トラブル類型</th></tr>
    {% for item in object_list %}
    <tr>
      <td>{{item.pk}}</td>
      <td>{{item.start_time|date:"Y/m/d(D) H:i"}}</td>
      <td class="bg-event"><b><a href="{% url 'ptop:event_detail' item.pk %}">{{item.title|truncatechars:30}}</a></b></td>
      <td>{{item.device.device_id}}</td>
      <td>{{item.downtime}}{% if item.delaytime %}<span class="delaytime"> ({{item.delaytime}})</span>{% endif %}</td>
      <td class="bg-group">{% if item.group is not None %}
        <a href="{% url 'ptop:group_detail' item.group.pk %}">{{item.group.title|truncatechars:10}}</a>
        {% else %} 
        {% endif %}
      </td>
      
      <td><a href="{% url 'ptop:update_event' item.pk %}" class="btn btn-primary">編集</a>
        <a href="{% url 'ptop:recurrent_event_create_from_event' item.pk %}" class="btn btn-warning">再発</a></td>
     </tr>
  {% endfor %}
    </table>

    <div class="mt-3">
      {% include 'pagination.html' %}
    </div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-left">
        <a href="#" onclick="window.history.back(); return false;" class="btn btn-secondary">戻る</a>
      </div>
      <div class="col-sm-4 text-center">
<!--
        <a href="{% url 'ptop:event_advanced_search_csv'%}" class="btn btn-info">CSV出力</a>
-->
      </div>
      <div class="col-sm-4 text-right">
      </div>
    </div>
  </div>
</form>

{% endblock content %}

{% block javascript %}
<script type="text/javascript">

$(function(){
  $("#id_paginate_by").change(function(){
    $("#id_form").submit();
  });
});
$(function(){
  $("#id_sort_by").change(function(){
    $("#id_form").submit();
  });
});
$(function(){
  $("#id_date_delta1").change(function(){
    $("input[name=date_type]").val(["1"]);
  });
});
$(function(){
  $("#id_date2").focusin(function(){
    $("input[name=date_type]").val(["2"]);
  });
});
$(function(){
  $("#id_date_delta2").change(function(){
    $("input[name=date_type]").val(["2"]);
  });
});
$(function(){
  $("#id_date3s").focusin(function(){
    $("input[name=date_type]").val(["3"]);
  });
});
$(function(){
  $("#id_date3e").focusin(function(){
    $("input[name=date_type]").val(["3"]);
  });
});

</script>
{% endblock javascript %}
