{% extends 'base.html' %}

{% block header %}
{% load static %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{% load bootstrap4 %}{% bootstrap_css %}{% bootstrap_javascript jquery='full' %}

{% endblock header %}

{% block content %}

  <div class="container">
    <h4>トラブル事象一覧</h4>

    <form action="" method="get" id="id_form">
      <div class="container">
        {{ search_form.query.label_tag }}{{ search_form.query }}
        <button type="submit" class="btn btn-primary">絞り込み</button>
      </div>
      <div style="text-align: right;">
        {{ search_form.sort_by.label_tag }}{{ search_form.sort_by }}
        {{ search_form.paginate_by.label_tag }}{{ search_form.paginate_by }}
      </div>
    </form>

    <table border>
      <tr><th>内部ID</th><th>発生日時</th><th>題名</th><th>デバイスID</th><th>故障時間</th><th>トラブル類型</th></tr>
    {% for item in object_list %}
      <tr>
        <td>{{item.pk}}</td>
        <td>{{item.start_time|date:"Y/m/d H:i"}}</td>
        <td><b><a href="{% url 'ptop:event_detail' item.pk %}">{{item.title|truncatechars:30}}</a></b></td>
        <td>{{item.device.device_id}}</td>
        <td>{{item.downtime}}</td>
        <td>{% if item.group is not None %}
          <a href="{% url 'ptop:group_detail' item.group.pk %}">{{item.group.title|truncatechars:10}}</a>
          {% else %} 
          {% endif %}
        </td>
        
        <td><a href="{% url 'ptop:event_detail' item.pk %}" class="btn btn-primary">詳細</a>
         <a href="{% url 'ptop:recurrent_event_create_from_event' item.pk %}" class="btn btn-secondary">再発</a></td>
       </tr>
    {% endfor %}
    </table>
    
    <div class="mt-3">
      {% include 'pagination.html' %}
    </div>

    <a href="{% url 'ptop:home' %}" class="btn btn-primary">戻る</a>
  </div>

  </div>

{% endblock content %}

{% block javascript %}
<script type="text/javascript">

$(function(){
  $("#id_paginate_by").change(function(){
    $("#id_form").submit();
  });
});
$(function(){
  $("#id_sort_by").change(function(){
    $("#id_form").submit();
  });
});

</script>
{% endblock javascript %}
