{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
  <div class="container">
    <div class="card">
      <h5 class="card-header">{{object.title}}</h5>
      <div class="card-body">
      <table border>
      <tr><td>分類ID</td><td>{{object.classify_id}}</td></tr>
      <tr><td>Device ID</td><td>{{object.device.device_id}}</td></tr>
      <tr><td>事象</td><td>{{object.description}}</td></tr>
      <tr><td>エラーメッセージ</td><td>{% for error in object.errors.all %}
{{ error.error_code }}{% if forloop.last %}{% else %},{% endif %}
{% endfor %}</td></tr>
      <tr><td>原因</td><td>{{object.cause}}</td></tr>
      <tr><td>原因分類</td><td>{{object.causetype}}</td></tr>
      <tr><td>初発日時</td><td>{{object.first_datetime|date:"Y/m/d H:i"}}</td></tr>
      <tr><td>主な処置内容</td><td>{{object.common_action}}</td></tr>
      <tr><td>分類作成者</td><td>{{object.classify_operator}}</td></tr>
      <tr><td>対処状況</td><td>{{object.handling_status}}</td></tr>
      <tr><td>メーカー連絡状況</td><td>{{object.vendor_status}}</td></tr>
      <tr><td>振り返り予定日</td><td>{{object.reminder_datetime}}</td></tr>
      <tr><td>恒久対策の内容</td><td>{{object.permanent_action}}</td></tr>
      <tr><td>よくあるトラブルフラグ</td><td>{{object.is_common_trouble}}</td></tr>
      <tr><td>FMEA致命度スコア</td><td>{{object.criticality_score}}</td></tr>
      <tr><td>FMEA発生頻度スコア</td><td>{{object.frequency_score}}</td></tr>
      <tr><td>FMEA対処難度スコア</td><td>{{object.difficulty_score}}</td></tr>
      </table>

      <p>
      登録されているトラブル事象
      </p>
      <table border>
{% for event in events %}
      <tr><td>{{event.id}}</td><td>{{event.start_time|date:"Y/m/d H:i"}}</td><td><a href="{%url 'ptop:event_detail' event.pk%}">{{event.title}}</a></td></tr>
{% empty %}
      なし
{% endfor %}
      </table>

    <a href="{% url 'ptop:home' %}" class="btn btn-primary">戻る</a>
    </div>
  </div>
{% endblock content %}
