{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
  <div class="container">
    <div class="card">
      <h5 class="card-header">{{object.title}}</h5>
      <div class="card-body">
      <table border>
      <tr><td>分類ID</td><td>{{object.classify_id}}</td></tr>
      <tr><td>Device ID</td><td>{{object.device.device_id}}({{object.device.name}})</td></tr>
      <tr><td>事象</td><td>{{object.description | linebreaksbr }}</td></tr>
      <tr><td>エラーメッセージ</td><td>{% for error in object.errors.all %}
{{ error.error_code }}{% if forloop.last %}{% else %},{% endif %}
{% endfor %}</td></tr>
      <tr><td>原因</td><td>{{object.cause | linebreaksbr }}</td></tr>
      <tr><td>原因分類</td><td>{{object.causetype | linebreaksbr }}</td></tr>
      <tr><td>初発日時</td><td>{{object.first_datetime|date:"Y/m/d H:i"}}</td></tr>
      <tr><td>主な処置内容</td><td>{{object.common_action | linebreaksbr }}</td></tr>
      <tr><td>分類作成者</td><td>{{object.classify_operator}}</td></tr>
      <tr><td>対処状況</td><td>{{object.handling_status}}</td></tr>
      <tr><td>メーカー連絡状況</td><td>{{object.vendor_status}}</td></tr>
      <tr><td>振り返り予定日</td><td>{{object.reminder_datetime}}</td></tr>
      <tr><td>恒久対策の内容</td><td>{{object.permanent_action}}</td></tr>
      <tr><td>よくあるトラブルフラグ</td><td>{{object.is_common_trouble}}</td></tr>
      <tr><td>FMEA致命度スコア</td><td>{{object.criticality_score}}</td></tr>
      <tr><td>FMEA発生頻度スコア</td><td>{{object.frequency_score}}</td></tr>
      <tr><td>FMEA対処難度スコア</td><td>{{object.difficulty_score}}</td></tr>
      <tr><td>添付ファイル</td><td>{% for attachment in object.attachments.all %}
        {% if '.png' in attachment.title or '.jpg' in attachment.title %}
          <a href="{{attachment.file.url}}"><img src="{{attachment.file.url}}" alt="{{attachment.title}}" width="200" /></a>
        {% else %}
          <a href="{{attachment.file.url}}">{{ attachment.title }}</a>
        {% endif %}
        {% if forloop.last %}{% else %},{% endif %}
      {% endfor %}</td></tr>
            
      </table>
      </div>
    </div>

      
      {% if child_group %}
      <div class="card">
      <h5 class="card-header">同一グループのトラブル類型</h5>
        <div class="card-body">
            <table border>
            <tr><th>分類ID</th><th>初発日時</th><th>題名</th></tr>
            {% for group in child_group %}
            <tr><td>{% if object.classify_id == group.classify_id %}<b>{{group.classify_id}}</b>{% else %}{{group.classify_id}}{% endif %}</td><td>{{group.first_datetime|date:"Y/m/d H:i"}}</td><td><a href="{%url 'ptop:group_detail' group.pk%}">{{group.title}}</a></td></tr>
            {% endfor %}
        </table>
        </div>
      </div>
      {% else %}
        <p>サブグループなし</p>
      {% endif %}
  
      <div class="card">
        <h5 class="card-header">登録されているトラブル事象</h5>
        <div class="card-body">
          <table border>
            <tr><th>事象ID</th><th>分類ID</th><th>発生日時</th><th>題名</th></tr>
{% for event in events %}
  {% if event.group.classify_id == object.classify_id %}
      <tr><td><b>{{event.id}}</b></td><td><b>{{event.group.classify_id}}</b></td><td>{{event.start_time|date:"Y/m/d H:i"}}</td><td><a href="{%url 'ptop:event_detail' event.pk%}">{{event.title}}</a></td></tr>
  {% else %}
      <tr><td>{{event.id}}</td><td>{{event.group.classify_id}}</td><td>{{event.start_time|date:"Y/m/d H:i"}}</td><td><a href="{%url 'ptop:event_detail' event.pk%}">{{event.title}}</a></td></tr>
  {% endif %}
{% empty %}
      なし
{% endfor %}
          </table>
        </div>
    </div>

  <div class="card">
    <div class="card-body">
      <a href="{% url 'ptop:update_group' object.pk %}" class="btn btn-primary">編集</a>
      <a href="{% url 'ptop:child_group_create' object.pk %}" class="btn btn-info">サブグループ作成</a>
      <a href="{% url 'ptop:group_list' %}" class="btn btn-secondary">戻る</a>
    </div>
  </div>
</div>
{% endblock content %}
