{% extends 'base.html' %}

{% block header %}
<style>
  h1 {text-align: center; }
  h2 {font-size: 1.5em; }
  h2.alert {background-color: orange; margin: 0px;}
  .database-name {font-size: 1.5em; text-align: center; margin: 0px}
</style>
{% endblock header %}


{% block content %}

  <div class="container">
   <h1>Particle Therapy Database of Operation and Maintenance</h1>
   <p class="database-name">山形大学医学部東日本重粒子センター 重粒子線治療装置 運転・維持管理データベース</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <h2 class="card-header">トラブル検索</h2>
            <div class="bg-event">
              <form action="{% url 'ptop:eventlist' %}">
                トラブル事象 <input name="query" value="{{ request.GET.query }}" type="text">
                <button type="submit" class="btn btn-primary">検索</button>
                <a href="{% url 'ptop:event_advanced_search' %}" class="btn btn-primary">詳細検索</a>
              </form>
            </div>
          <form action="{% url 'ptop:group_list' %}">
            <div class="bg-group">
              トラブル類型 <input name="query" value="{{ request.GET.query }}" type="text">
              <button type="submit" class="btn btn-primary">検索</button> 
              <a href="{% url 'ptop:advanced_search' %}" class="btn btn-primary">詳細検索</a>
            </div>
          </form>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <h2 class="card-header">トラブル入力</h2>
          <p>
            <a href="{% url 'ptop:create_event' %}" class="btn btn-primary w-25">新規入力</a>
            <a href="{% url 'ptop:unapproved_event_list' %}" class="btn btn-info w-25">分類</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-sm-12">
      <div class="card">
        <h2 class="card-header">お知らせ</h2>
        <table>
        {% for item in announce_list %}
        <tr><td>{{ item.posted_time|date:'Y/n/j'}}</td><td><a href="{% url 'ptop:announcement_detail' item.pk %}">{{ item.title|truncatechars:60 }}</a></td></tr>
        {% endfor %}
        </table>
        <div style="text-align:right"><a href="{% url 'ptop:announcement_list' %}">お知らせ一覧</a></div>
      </div>
    </div>
  </div>

  {% if reminder_list %}
  <div class="container">
    <div class="col-sm-12">
      <div class="card">
        <h2 class="card-header alert">リマインダー</h2>
        <table border>
          <tr><th>期限日</th><th class="bg-group">トラブル類型</th><th>種類</th><th>備考</th><th></th></tr>
          {% for item in reminder_list %}
          <tr>
            <td style="color: red;">{{item.due_date|date:"Y/m/d(D)"}}</td>
            <td class="bg-group"><a href="{% url 'ptop:group_detail' item.group.pk %}"><b>{{item.group.title|truncatechars:30}}</b></a></td>
            <td>{{item.reminder_type.name}}</td>
            <td>{{item.description|truncatechars:50}}</td>
            <td><a href="{% url 'ptop:reminder_done' item.pk %}" class="btn btn-primary">完了</a> 
              <a href="{% url 'ptop:reminder_extend' item.pk %}" class="btn btn-secondary">延長</a></td>
          </tr>
          {% endfor %}
        </table>
        <div style="text-align:right"><a href="{% url 'ptop:reminder_list' %}?status=期限前&status=発動中&status=処理済">リマインダー一覧</a></div>
      </div>
    </div>
  </div>
  {% endif %}


  <div class="container">
    <div class="col-sm-12">
      <div class="card">
        <h2 class="card-header">最近発生したトラブル</h2>
        <table border>
          <tr><th>発生日時</th><th class="bg-event">題名</th><th>デバイスID</th><th>故障時間</th><th class="bg-group">トラブル類型</th></tr>
          {% for item in object_list %}
          <tr>
            <td>{{item.start_time|date:"Y/m/d(D) H:i"}}</td>
            <td class="bg-event"><a href="{% url 'ptop:event_detail' item.pk %}"><b>{{item.title|truncatechars:30}}</b></a></td>
            <td>{{item.device.device_id}}</td>
            <td>{{item.downtime}}{% if item.delaytime %}<span class="delaytime"> ({{item.delaytime}})</span>{% endif %}</td>
            <td class="bg-group">{% if item.group is not None %}
              <a href="{% url 'ptop:group_detail' item.group.pk %}">{{item.group.title|truncatechars:10}}</a>
              {% else %} 
              {% endif %}
            </td>
            <td><a href="{% url 'ptop:update_event' item.pk %}" class="btn btn-primary">編集</a>
            <a href="{% url 'ptop:recurrent_event_create_from_event' item.pk %}" class="btn btn-warning">再発</a></td>
          </tr>
          {% endfor %}
        </table>
        <div style="text-align:right"><a href="{% url 'ptop:eventlist' %}">トラブル事象一覧</a></div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-sm-12">
      <div class="card">
        <h2 class="card-header">消耗品管理</h2>

          {% for type in supply_type_list %}
            <div><b><a href="{% url 'ptop:supply_item_list'%}?supplytype={{type.id}}&status=未納品&status=使用前&status=使用中&status=使用済">{{type.name}}</a></b> 
              <a href="{% url 'ptop:supply_item_list'%}?supplytype={{type.id}}&status=使用前">在庫数{{type.num_stock}}</a> <a href="{% url 'ptop:supply_item_create'%}?supplytype={{type.id}}" class="btn btn-sm btn-info">発注</a> 
              {% if type.num_ordered > 0 %}
                <a href="{% url 'ptop:supply_item_list'%}?supplytype={{type.id}}&status=未納品">発注済数{{type.num_ordered}}</a><a href="{% url 'ptop:supply_item_stock'%}?supplytype={{type.id}}" class="btn btn-sm btn-info">納品</a>
              {% else %}
                発注済数{{type.num_ordered}}
              {% endif %}
              {% if type.num_used > 0 %}
                <a href="{% url 'ptop:supply_item_list'%}?supplytype={{type.id}}&status=使用済">使用済数{{type.num_used}}</a>
              {% endif %}
              {% if type.num_stock <= type.num_recommend and type.num_ordered == 0 %}<span style="color:red">在庫が少なくなりました</span>{% endif %}
            </div>
            <table border>
              <tr><th>設置場所</th><th>S/N</th><th>{{type.level_name}}</th><th>残量ゲージ</th><th>使用開始日</th><th>予想交換日</th></tr>
            {% for item in instelled_supply_list %}
              {% if item.supplytype == type %}
              <tr>
                <td>{{item.installed_device.name}}</td>
              <td><a href="{% url 'ptop:supply_item_detail' item.pk %}"><b>{{item.serial_number}}</b></a></td>
              <td>{{item.current_level|default_if_none:'-'}} {{item.supplytype.level_unit}}</td>
              <td><a href="{% url 'ptop:supply_item_detail' item.pk %}"><progress value="{{item.percent_level}}" max="100">0%</progress></a></td>
              
              <td>{{item.install_date|date:"m/d"}}</td>
              <td>{{item.estimated_expire_date|date:"m/d"}}</td>
              <td><a href="{% url 'ptop:supply_record_create' %}?supplyitem={{item.id}}" class="btn btn-info">残量入力</a>
                <a href="{% url 'ptop:supply_item_exchange' item.id %}" class="btn btn-primary">交換</a></td>
              </tr>
              {% endif %}
            {% endfor %}
            </table>
          {% endfor %}
          <div style="text-align:right"><a href="{% url 'ptop:supply_item_list' %}">消耗品一覧</a></div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="col-sm-12">
      <div class="card">
        <h2 class="card-header">情報が更新されたトラブル事象</h2>
        <table border>
          <tr><th>更新日時</th><td>発生日時</td><th class="bg-event">題名</th><th>デバイスID</th><th>故障時間</th><th class="bg-group">トラブル類型</th></tr>
          {% for item in updated_event_list %}
          <tr>
            <td>{{item.modified_on|date:"Y/m/d(D) H:i"}}</td>
            <td>{{item.start_time|date:"Y/m/d(D) H:i"}}</td>
            <td class="bg-event"><a href="{% url 'ptop:event_detail' item.pk %}"><b>{{item.title|truncatechars:30}}</b></a></td>
            <td>{{item.device.device_id}}</td>
            <td>{{item.downtime}}{% if item.delaytime %}<span class="delaytime"> ({{item.delaytime}})</span>{% endif %}</td>
            <td class="bg-group">{% if item.group is not None %}
              <a href="{% url 'ptop:group_detail' item.group.pk %}">{{item.group.title|truncatechars:10}}</a>
              {% else %} 
              {% endif %}
            </td>
            <td><a href="{% url 'ptop:update_event' item.pk %}" class="btn btn-primary">編集</a>
            </tr>
          {% endfor %}
        </table>
      </div>
      <div class="card">
        <h2 class="card-header">情報が更新されたトラブル類型</h2>
        <table border>
          <tr><th>更新日時</th><td>初発日時</td><th class="bg-group">題名</th><th>デバイスID</th><th>対処状況</th><th>メーカー状況</th><th>最新コメント</th></tr>
          {% for item in updated_group_list %}
          <tr>
            <td>{{item.modified_on|date:"Y/m/d(D) H:i"}}</td>
            <td>{{item.first_datetime|date:"Y/m/d(D) H:i"}}</td>
            <td class="bg-group"><a href="{% url 'ptop:group_detail' item.pk %}"><b>{{item.title|truncatechars:30}}</b></a></td>
            <td>{{item.device.device_id}}</td>
            <td>{{item.handling_status}}</td>
            <td>{{item.vendor_status}}</td>
            <td><a href="{% url 'ptop:group_detail' item.pk %}#comment_{{item.new_comment.id}}">{{item.new_comment.posted_on|date:"m/d H:i"}} {{item.new_comment.user}}</td>
            <td><a href="{% url 'ptop:update_group' item.pk %}" class="btn btn-primary">編集</a>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>

  {% if not reminder_list %}
  <div class="container">
    <div class="col-sm-12">
      <div class="card">
        <h2 class="card-header">リマインダー</h2>
        <div style="text-align:left">期限が到来したリマインダーはありません。</div>
        <div style="text-align:right"><a href="{% url 'ptop:reminder_list' %}?status=期限前&status=発動中&status=処理済">リマインダー一覧</a></div>
      </div>
    </div>
  </div>
  {% endif %}

{% endblock content %}
