{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}

  <div class="container">
    <h4>オペレーション一覧</h4>

    <div class="container">
      <div class="card">
        <form action="" method="get">
          <input name="query" value="{{ request.GET.query }}" type="text">
          <button type="submit">絞り込み</button>
        </form>
      </div>
    </div>

    <table border>
      <tr><th>内部ID</th><th>内容</th><th>開始日時</th><th>終了日時</th><th>コメント</th><th></th></tr>
      {% for item in object_list %}
      <tr>
        <td>{{item.pk}}</td>
        <td>{{item.operation_type}}</td>
        <td>{{item.start_time|date:"Y/m/d H:i"}}</td>
        <td>{{item.end_time|date:"Y/m/d H:i"}}</td>
        <td>{{item.comment|truncatechars:20}}</td>
        
        <td><a href="{% url 'ptop:update_operation' item.pk %}" class="btn btn-primary">編集</a></td>
       </tr>
    {% endfor %}
    </table>
    
    <div class="mt-3">
      {% include 'pagination.html' %}
    </div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-left">
        <a href="#" onclick="window.history.back(); return false;" class="btn btn-secondary">戻る</a>
      </div>
      <div class="col-sm-4 text-center">
      </div>
      <div class="col-sm-4 text-right">
        <a href="{% url 'ptop:create_operation' %}" class="btn btn-primary">新規追加</a>
      </div>
    </div>
  </div>

</div>

{% endblock content %}
