{% extends 'base.html' %}

{% block header %}

{% load static %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{% load bootstrap4 %}{% bootstrap_css %}{% bootstrap_javascript jquery='full' %}

<style>
.input-inline { display: inline-block; width: 150px; }
.helptext {font-size: small;}
.required {color: red;}
</style>

{% endblock header %}

{% block content %}
<div class="container">
  <div class="card">

    <h5 class="card-header">消耗品交換 現在使用中情報</h5>

    <div class="card-body">
      <table border>
        <tr><td>種類</td><td>{{item.supplytype.name}}</td></tr>
        <tr><td>設置場所</td><td>{{item.installed_device.name}}</td></tr>
        <tr><td>S/N</td><td>{{item.serial_number}}</td></tr>
      </table>
    </div>
  </div>
</div>


<div class="container">
  <div class="card">

    <h5 class="card-header">消耗品交換情報</h5>

    <div class="card-body">

      <form action="" method="POST">
        {% csrf_token %}
        {% if form.errors %}
          {{ form.non_field_errors }}
        {% endif %}
        <table border>
        {% for field in form %}
          {% if not field.is_hidden %}
          {% spaceless %}
            <tr><th>
              {% if field.field.required %}<span class="required">*</span>{% endif %}{{ field.label_tag }}</th><td>{{ field }}
          {% if field.help_text %}
            <span class="helptext">{{ field.help_text|safe }}</span>
          {% endif %}
          {% if field.errors %}
          {{ field.errors }}
          {% endif %}
            </td></tr>
          {% endspaceless %}
        {% else %}
          {{ field.as_hidden }}
        {% endif %}
        {% endfor %}
        </table>

      
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-left">
        <a href="#" onclick="window.history.back(); return false;" class="btn btn-secondary">戻る</a>
      </div>
      <div class="col-sm-4 text-center">
      </div>
      <div class="col-sm-4 text-right">
        <input class="btn btn-primary" type="submit" value="交換実行する">
      </form>
      </div>
    </div>
  </div>

</div>

<script src="{% static 'ptop/js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'ptop/js/bootstrap.min.js' %}"></script>

{{form.media}}

{% endblock content %}

{% block javascript %}
{% endblock javascript %}
