{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="container">
  <div class="card">
    <h5 class="card-header">消耗品詳細 {{object.serial_number}}</h5>
    <div class="card-body">
      <table border>
        <tr><td>形式</td><td>{{object.supplytype.name}}</td></tr>
        <tr><td>シリアル番号</td><td>{{object.serial_number}}</td></tr>
        <tr><td>設置デバイス</td><td>{{object.installed_device.name}}</td></tr>
        <tr><td>保管場所</td><td>{{object.storage.fullname}}</td></tr>
        <tr><td>{{object.supplytype.level_name}}</td><td>{{object.remain_level}} {{object.supplytype.level_unit}}</td></tr>
        <tr><td>発注日</td><td>{{object.order_date|date:'Y/n/j'}}</td></tr>
        <tr><td>納品予定日</td><td>{{object.due_date|date:'Y/n/j'}}</td></tr>
        <tr><td>納品日</td><td>{{object.stock_date|date:'Y/n/j'}}</td></tr>
        <tr><td>使用開始日時</td><td>{{object.install_date|date:'Y/n/j G:i'}}</td></tr>
        <tr><td>使用終了日時</td><td>{{object.uninstall_date|date:'Y/n/j G:i'}}</td></tr>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <h5 class="card-header">残量測定記録</h5>
    <div class="card-body">
      <table border>
        <tr><th>測定日</th><th>設置箇所</th><th>{{object.supplytype.level_name}}({{object.supplytype.level_unit}})</th></tr>
        {% for record in record_list %}
        <tr><td>{{record.date|date:'Y/n/j G:i'}}</td><td>{{record.device.name}}</td><td>{{record.level}}</td><td><a href="{% url 'ptop:supply_record_update' record.id %}" class="btn btn-sm btn-primary">修正</a></td></tr>
        {% endfor %}
      </table>
      <div class="container">
        <a href="{% url 'ptop:supply_record_create' %}?supplyitem={{object.id}}" class="btn btn-info">残量入力</a>
      </div>
      {% if graph %}
      <div class="container">
          <img src="data:image/png;base64, {{ graph | safe }} " alt="測定結果グラフ">
      </div>
      <div class="container">
        予想交換日: {{object.estimated_expire_date|date:'Y/n/j(D)'}}
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 text-left">
      <a href="#" onclick="window.history.back(); return false;" class="btn btn-secondary">戻る</a>
    </div>
  <div class="col-sm-4 text-center">
  </div>
  <div class="col-sm-4 text-right">
    <a href="{% url 'ptop:supply_item_update' object.id %}" class="btn btn-primary">編集</a>
  </div>
</div>
{% endblock content %}
