{% extends 'base.html' %}

{% block header %}
<title>装置不具合連絡票 - {{object.title}} - Particle Therapy Database of Operation and Maintenance</title>
<style>
    body{padding-top: 32px;}
    h1 {text-align: center;}
    h2 {text-align: center;}
    table {width:800px; table-layout: fixed; margin: auto;}
    .center {text-align: center;}
    .label {width: 10em;}
    .date {text-align: right;}
    .facility {text-align: right;}
    .footer {text-align: right;}
    .counterperson {text-align: right;}
</style>

{% endblock header %}

{% block content %}
<h1>装置不具合連絡票プレビュー</h1>
<div class="container" class="center">
    <div class="row">
        <div class="col-sm-12 text-center">
            <embed src="data:application/pdf;base64,{{pdf_file}}" type="application/pdf" height="700px" width="500px"> 
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
    <div class="col-sm-4 text-left">
        <a href="#" onclick="window.history.back(); return false;" class="btn btn-secondary">戻る</a>
    </div>
    <div class="col-sm-4 text-center">
        <a href="javascript:void(0)" onclick="window.print();return false;" class="btn btn-info">印刷</a>
    </div>
    <div class="col-sm-4 text-right">
    </div>
    </div>
</div>

{% endblock content %}
